<%= form_with model: post do |f| %>
  <% if post.errors.any? %>
    <ul style="color:#b00">
      <% post.errors.full_messages.each do |message| %><li><%= message %></li><% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :status %><br>
    <%# Options come straight from the policy (role-aware) via the gem helper. %>
    <%= f.select :status, pundit_expected_attribute_values_for(post, :status), include_blank: true %>
  </p>

  <fieldset>
    <legend>Tags (policy-allowed for this user)</legend>
    <%= f.collection_check_boxes :tags, pundit_expected_attribute_values_for(post, :tags), :to_s, :to_s %>
  </fieldset>

  <fieldset>
    <legend>Comments</legend>
    <p><em>The nested selects below list every value; the policy filters out any
    your role may not set (e.g. author role “moderator”).</em></p>

    <%= f.fields_for :comments do |cf| %>
      <div style="border:1px dashed #ccc;padding:.5rem;margin:.5rem 0">
        <p><%= cf.label :body %><br><%= cf.text_field :body %></p>
        <p><%= cf.label :status %><br><%= cf.select :status, Comment::STATUSES %></p>

        <%= cf.fields_for :author do |af| %>
          <p><%= af.label :name, "Author name" %><br><%= af.text_field :name %></p>
          <p><%= af.label :role, "Author role" %><br><%= af.select :role, Author::ROLES %></p>
        <% end %>
      </div>
    <% end %>
  </fieldset>

  <p><%= f.submit %></p>
<% end %>
